.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-container{
    background-color: #F4F4F4;
    
}


@media screen and (max-width: 420px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}